.App {
  text-align: center;
  text-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0);
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 100px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.camera{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50%;
  border-radius: 5%;
  padding-bottom: 1%;
}

.webCam{
  border-radius: 10px;
}

.btn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  margin: 0 auto;
}

.logo {
  margin: 0 auto;
  width: 50px;
}

.closeBtn {
  margin: 0 auto;
  width: 20%;
  margin-top: 2%;
}

.guestLogin {
 margin-bottom: 1%;
}

.rsc-os-option {
  color: #fff;
}

.styles_modal__gNwvD {
  max-width: 800px;
  position: relative;
  padding: 1.2rem;
  background-clip: padding-box;
  margin: auto;
  background: rgba(0, 0, 0, 0);
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0);
  color: #fff;
}

.darktheme {
  background-color: #494949;
  color: #fff;
}

.header-wrapper {
  height: 80px;
}

.footer {
  background-color: #494949;
  align-content: center;
  margin: 0 auto;
}

.dark {
  background-color: bisque;
  align-content: center;
  margin: 0 auto;
}

.headerDark {
  color: #494949;
}